<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.loafer.entity.TeacherMapper">
    <resultMap id="infoResult" type="com.github.loafer.entity.Teacher">
        <result column="id" property="id"/>
        <result column="teacher_name" property="name"/>
        <result column="teacher_age" property="age"/>
        <result column="teacher_tel" property="tel"/>
    </resultMap>

    <select id="selectOne" resultMap="infoResult" parameterType="string">
        select id, teacher_name, teacher_age, teacher_tel from test_teacher
        where id = #{id}
    </select>

    <select id="selectPaging" resultType="hashmap" parameterType="map">
        select id, teacher_name, teacher_age, teacher_tel from test_teacher
        <where>
            <if test="name != null">
                and teacher_name = #{name}
            </if>
            <if test="age != null">
                and teacher_age = #{age}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.github.loafer.entity.Teacher">
        insert into test_teacher(id, teacher_name, teacher_age, teacher_tel)
        values (#{id}, #{name}, #{age}, #{tel})
    </insert>
</mapper> 