<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../js/bootstrap-3.0.3/dist/css/bootstrap.min.css">
    </head>
    <body ng-controller="PhoneListCtrl">
        Search: <input type="text" ng-model="query">
        Sort By:
        <select ng-model="orderPro">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
        </select>
        Order Key: <span>{{orderPro}}</span>
        <ul>
            <li ng-repeat="phone in phones | filter:query | orderBy:orderPro">
                {{phone.name}}
                <p>{{phone.snippet}}</p>
            </li>
        </ul>
        <script src="../js/angular-1.3.0-beta.8.min.js"></script>
        <script>
            function PhoneListCtrl($scope){
                $scope.phones = [
                    {"name": "Nexus S",
                        "snippet": "Fast just got faster with Nexus S.",
                        "age": 0},
                    {"name": "Motorola XOOM™ with Wi-Fi",
                        "snippet": "The Next, Next Generation tablet.",
                        "age": 1},
                    {"name": "MOTOROLA XOOM™",
                        "snippet": "The Next, Next Generation tablet.",
                        "age": 2}
                ];

                $scope.orderPro = 'age';
            }
        </script>
    </body>
</html>